<page-header [title]="'待辦事項'">
  <ng-template #extra>
    <button nz-button nzType="primary" (click)="onCreateTodo()">
      <i nz-icon nzType="plus"></i>
      新增待辦
    </button>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <!-- Statistics -->
  <nz-row [nzGutter]="16" class="mb-md">
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().totalCount" [nzTitle]="'總計'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().openCount" [nzTitle]="'待處理'" [nzValueStyle]="{ color: '#1890ff' }"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().inProgressCount" [nzTitle]="'進行中'" [nzValueStyle]="{ color: '#fa8c16' }"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().doneCount" [nzTitle]="'已完成'" [nzValueStyle]="{ color: '#52c41a' }"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().overdueCount" [nzTitle]="'已逾期'" [nzValueStyle]="{ color: '#cf1322' }"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-statistic [nzValue]="statistics().cancelledCount" [nzTitle]="'已取消'" [nzValueStyle]="{ color: '#8c8c8c' }"></nz-statistic>
    </nz-col>
  </nz-row>

  <nz-divider></nz-divider>

  <!-- Search and Filter -->
  <nz-row [nzGutter]="16" class="mb-md">
    <nz-col [nzSpan]="10">
      <nz-input-group [nzPrefix]="prefixIconSearch">
        <input type="text" nz-input placeholder="搜尋待辦事項..." (ngModelChange)="onSearch($event)" [ngModel]="searchTerm()" />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-select [(ngModel)]="statusFilter" (ngModelChange)="onStatusFilterChange($event)" nzPlaceHolder="狀態篩選" style="width: 100%;">
        @for (option of statusOptions; track option.value) {
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        }
      </nz-select>
    </nz-col>
    <nz-col [nzSpan]="4">
      <label nz-checkbox [(ngModel)]="showCompleted" (ngModelChange)="toggleShowCompleted()">顯示已完成</label>
    </nz-col>
  </nz-row>

  <!-- Loading -->
  @if (loading()) {
    <nz-spin [nzSpinning]="true" nzTip="載入中...">
      <div style="height: 200px;"></div>
    </nz-spin>
  }

  <!-- Error -->
  @if (error()) {
    <nz-alert nzType="error" [nzMessage]="error()" nzShowIcon class="mb-md"></nz-alert>
  }

  <!-- Empty State -->
  @if (!loading() && filteredTodos().length === 0) {
    <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="'暫無待辦事項'">
      <ng-template #nzNotFoundFooter>
        <button nz-button nzType="primary" (click)="onCreateTodo()">新增第一個待辦</button>
      </ng-template>
    </nz-empty>
  }

  <!-- Todo List -->
  @if (!loading() && filteredTodos().length > 0) {
    <nz-list [nzDataSource]="filteredTodos()" nzBordered>
      @for (todo of filteredTodos(); track trackByTodo($index, todo)) {
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <label nz-checkbox [ngModel]="todo.status === 'done'" (ngModelChange)="onToggleComplete(todo)"></label>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <a (click)="onViewTodo(todo)" [class.completed]="todo.status === 'done'">{{ todo.title }}</a>
              <nz-tag class="ml-sm" [nzColor]="getPriorityColor(todo.priority)">{{ todo.priorityLabel }}</nz-tag>
              <nz-tag [nzColor]="getStatusColor(todo.status)">{{ todo.statusLabel }}</nz-tag>
              @if (todo.isOverdue) {
                <nz-tag nzColor="error">已逾期</nz-tag>
              }
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              @if (todo.assigneeName) {
                <span><i nz-icon nzType="user"></i> {{ todo.assigneeName }}</span>
                <nz-divider nzType="vertical"></nz-divider>
              }
              @if (todo.dueAt) {
                <span [class.text-error]="todo.isOverdue">
                  <i nz-icon nzType="calendar"></i> {{ todo.formattedDueAt }}
                  @if (todo.daysUntilDue !== undefined && todo.daysUntilDue > 0 && !todo.isOverdue) {
                    <span class="text-grey">({{ todo.daysUntilDue }} 天後)</span>
                  }
                </span>
                <nz-divider nzType="vertical"></nz-divider>
              }
              @if (todo.tags.length > 0) {
                @for (tag of todo.tags; track tag) {
                  <nz-tag>{{ tag }}</nz-tag>
                }
              }
              @if (todo.commentCount > 0) {
                <span><i nz-icon nzType="message"></i> {{ todo.commentCount }}</span>
              }
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <button nz-button nzType="link" nzSize="small" (click)="onEditTodo(todo)">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-action>
            <nz-list-item-action>
              <button nz-button nzType="link" nzSize="small" nzDanger (click)="onDeleteTodo(todo)">
                <i nz-icon nzType="delete"></i>
              </button>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      }
    </nz-list>
  }
</nz-card>
